* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: rgb(6, 10, 50);
    background-image: url(https://img.freepik.com/free-vector/air-balloons-flying-night-starry-sky-with-full-moon-clouds-lake-with-rocks-conifers-trees-aerial-flight-travel-midnight-scenery-landscape-cartoon-vector-illustration-background_107791-8369.jpg?w=1380&t=st=1676038931~exp=1676039531~hmac=5fb692cc6054ff94e2e3bdb88ea8a3a362c1e7c99c01f67176b364d84c0c381f);
    background-repeat: no-repeat;
    background-size: 100%;
}
h1 {
    color: snow;
    font-family: cursive;
    font-style: italic;
    font-size: 7em;
}
h2 {
    color: rgb(121, 101, 77);
    font-family: Caveat, sans-serif;
    text-align: center;
    font-size: 30px;
}
img {
    width: 100px;
    height: 100px;
}
#instruction {
    border: solid 5px green;
    width: 37em;
    padding: 82px 43px;
    text-align: center;
    background-color: rgba(184, 140, 187, 0.588);
    margin-top: 20px;
    height: 22em;
    border-radius: 7em;
    display: none;
}
.game_instruction {
    float: left;
}
.wrapper {
    box-sizing: content-box;
    width: 45.87em;
    height: 41em;
    padding: 3.5em 3em;
    background-color: #ffff;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}
.game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;
}
.stats-container {
    text-align: right;
    margin-bottom: 1.2em;
}
.stats-container span {
    font-weight: 600;
}
.card-container {
    position: relative;
    width: 9.25em;
    height: 8.25em;
    cursor: pointer;
    background-color: transparent;
}
.card-before,
.card-after {
    position: absolute;
    border-radius: 17px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
}