@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: rgb(6, 10, 50);
    background-image: url(https://img.freepik.com/free-vector/air-balloons-flying-night-starry-sky-with-full-moon-clouds-lake-with-rocks-conifers-trees-aerial-flight-travel-midnight-scenery-landscape-cartoon-vector-illustration-background_107791-8369.jpg?w=1380&t=st=1676038931~exp=1676039531~hmac=5fb692cc6054ff94e2e3bdb88ea8a3a362c1e7c99c01f67176b364d84c0c381f);
    background-repeat: no-repeat;
    background-size: 100%;
}
h1 {
    color: snow;
    font-family: cursive;
    font-style: italic;
    font-size: 7em;
}
h2 {
    color: rgb(121, 101, 77);
    font-family: Caveat, sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
}
img {
    width: 100px;
    height: 100px;
}
#instruction {
  
  border: solid 1px #2f180c;
  width: 37em;
  padding: 82px 43px;
  text-align: center;
  background-color: rgb(212 212 232 / 59%);
  margin-top: 20px;
  height: 22em;
  border-radius: 7em;
  display: none;
}
.score-board {
  display: inline-block;
}
.score-board > button {
  display: inline-block;
  margin-inline: auto;
}
.color-yellow {
  border-radius: 50%;
  background-color: #e5f720;
  margin-left: 150px;
}
.color-yellow {
  border-radius: 50%;
  background-color: #e5f720;
  margin-left: 150px;
}
.color-blue {
  border-radius: 50%;
  background-color: #1a384f;
  margin-left: 0px;
}
.color-grey {
  border-radius: 50%;
  background-color:rgb(41, 42, 52);
  margin-left: 150px;
}
.color-white {
  border-radius: 50%;
  background-color: snow;
  margin-left: 0px;
}
.game_instruction {
    float: left;
}
.wrapper {
  box-sizing: content-box;
  width: 45.87em;
  height: 41em;
  padding: 3.5em 3em;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.6em;
  box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}
.game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;
}
.stats-container {
    text-align: right;
    margin-bottom: 1.2em;
}
.stats-container span {
    font-weight: 600;
}
.card-container {
    position: relative;
    width: 9.25em;
    height: 8.25em;
    cursor: pointer;
    background-color: transparent;
}
.card-before,
.card-after {
    position: absolute;
    border-radius: 17px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
}
.card-before {
    background-image: url(https://img.freepik.com/free-vector/gradient-grainy-gradient-background_23-2149881119.jpg?w=1060&t=st=1676011688~exp=1676012288~hmac=bde22dc02c0af393925137d682ea95fe960c7975887eeb28931cadba88e8a34c);
}
.card-after {
    background-color: #ffff;
    transform: rotateY(180deg);
}
.card-container.flipped .card-before {
    transform: rotateY(180deg);
}
.card-container.flipped .card-after {
    transform: rotateY(0deg);
}
/* shake animation from https://www.codingnepalweb.com/build-memory-card-game-html-javascript/ */
.card-container.matched.shake .card-after {
    animation: shake 0.35s;
}
.card-container.matched.shake .card-before {
    animation: shake 0.35s;
}
@keyframes shake {
    0%, 100%{
      transform: translateX(0);
    }
    20%{
      transform: translateX(-13px);
    }
    40%{
      transform: translateX(13px);
    }
    60%{
      transform: translateX(-8px);
    }
    80%{
      transform: translateX(8px);
    }
  }
  .controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url(../images/background.jpg)
  }
  button {
    border: none;
    border-radius: 2.3em;
    padding: 1em 1.5em;
    cursor: pointer;
    margin: 34px;
    margin-left: 43em;
  }
  .fa-play {
    font-size: 50px;
  }
  #stop {
    float: left;
    font-size: 1.1em;
    display: block;
    margin: -3.9em auto 3em auto;
    background-color: #0c0c2f;
    color: #ffff;
  }
  .controls-container button {
    font-size: 1.3em;
    box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
  }
  .hide {
    display: none;
  }
  #result {
    text-align: center;
  }
  #result h2 {
    font-size: 2.5em;
  }
  #result h4 {
    font-size: 1.8em;
    margin: 0.6em 0 1em 0;
  }

  footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;
    color: #fff;
    background-color: #000;
}
  @media (max-width: 280px) {
    body {
      margin: 31px;
    }
    .game-container {
      margin-left: 36px;
    }
    #stop {
      float: none;
    }
    h1 {
      font-size: 3em;
    }
    button {
      margin-left: 0em;
    }
  }
  @media (max-width: 320px) {
    body {
      background-size: 0;
    }
    #instruction {
      width: 22em;
    }
    .card-container {
      width: 33px;
      height: 38px;
      margin-left: -34px;
    }
    img {
      width: 33px;
      height: 38px;
      margin-left: -34px;
      border-radius: 17px;
    }
    button {
      padding: 1em 1.5em;
    }
    .wrapper {
      padding-top: 11px;
      width: 9.87em;
      height: 19em;
    }
    .controls-container {
      width: 21.87em;
      height: 26em;
      background-image: url(https://img.freepik.com/free-vector/gradient-purple-hexagonal-background_23-2148965956.jpg?w=1060&t=st=1676278376~exp=1676278976~hmac=1063039a90e64064622fd7d18c8286b1f950d7130b9e3df78651bcc39ee337e9);
    }
    button {
      margin: 28px;
      margin-left: -1em;
    }
    #stop {
      margin-left: 38px;
    }
  
  }
  @media (max-width: 950px) {
    body {
      margin: 7px;
      background-size: 0;
      background-image: url(https://img.freepik.com/free-vector/air-balloons-flying-night-starry-sky-with-full-moon-clouds-lake-with-rocks-conifers-trees-aerial-flight-travel-midnight-scenery-landscape-cartoon-vector-illustration-background_107791-8369.jpg?w=1380&t=st=1676038931~exp=1676039531~hmac=5fb692cc6054ff94e2e3bdb88ea8a3a362c1e7c99c01f67176b364d84c0c381f);
    }
    h1 {
      font-size: 3em;
    }
    .card-container {
      width: 3.25em;
      height: 3.25em;
      margin: 0px;
    }
    img {
      width: 3.25em;
      height: 3.25em;
    }
    button {
      padding: 1em 1.5em;
    }
    .wrapper {
      width: 14.87em;
      height: 23em;
      top: 61%;
    }
    #instruction {
      width: 24em;
      padding: 43px 43px;
      text-align: center;
      background-color: rgb(212 212 232 / 59%);
      border: solid 1px #2f180c;
      margin-top: 20px;
      height: 20em;
      border-radius: 7em;
      display: none;
    }
    .controls-container {
      margin: -3%;
      width: 112%;
      height: 118%;
      background-image: url(../images/2111.w015.n001.604B.p15.604.jpg);
    }
    button {
      margin: 28px;
      margin-left: -1em;
    }
    #stop {
      font-size: 9px;
    }
  }
  @media (min-width: 1024px) {
    body {
      margin: 0px;
    }
    button {
      margin-left: 31em;
    }
    .card-container {
      width: 8.25em;
      height: 6.25em;
    }
    .wrapper {
      width: 34.87em;
      height: 41em;
      padding: 0.5em 3em;
    }
  }